<%- include('partials/head'); -%>
<%- include('partials/materialize'); -%>
<%- include('partials/navbar'); -%>
<script src="https://www.gstatic.com/firebasejs/7.20.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.20.0/firebase-storage.js"></script>

    <body>
      <div class="container" style="margin-top: 90px;">
    <a href="/dashboard/addCategory">Add Category</a>
        <form action="dashboard/addProduct" method="POST" enctype="multipart/form-data">
  
          <div class="input-field col s6">
              <input id="name"  name="name" type="text" class="validate" >
              <label for="name">Name of your product</label>
            </div>

            <div class="input-field col s6">
              <input id="briefDescription"  name="briefDescription" type="text" class="validate" >
              <label for="briefDescription">Tell the user something about it</label>
            </div>

            <div class="input-field col s6">
              <input id="price"  name="price" type="text" class="validate" >
              <label for="price">Its cost?</label>
            </div>

<script>
  console.log("<%=categoryKey.length %>")
</script>
            <div class="row">
              <div class="col l6 s12">
                <div class="file-field input-field">
                  <div class="btn">
                    <span>File</span>
                    <input type="file" name="proImage">
                  </div>
    
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="Upload an Image for users to see">
                  </div>
                </div>
              </div>

              <div class="col l6 s12">
                <div class="input-field">
                  <select name="itemType" >
                    <option value="0" disabled selected>Choose your option</option>
                    <% for(var i=0; i < categoryKey.length ; i++) { %>
                      <option value="<%=categoryKey[i]%>"><%=categoryKey[i]%></option>
                      <% } %>
                   
                  </select>
                  <label>Food Type?</label>
                </div>
              </div>
              
            </div>

            <div class="container center-align" style="margin-top: 40px;">
              <button class="btn-floating btn-large waves-effect waves-light pulse" type="submit" name="action">
                <i class="material-icons right">check</i>
              </button> 
            </div>

        </form>
        </div>
        <script src="/js/addProduct.js"></script>
        <script>
           $(document).ready(function(){
              $('select').formSelect();
            });
        </script>
       
        </body>

        <!-- <%- include('partials/footer'); -%> -->